.body{
    background-color: black;
    min-height: 100vh !important;
    min-width: 100vw !important;
}

a{
    color: seashell !important;
    text-decoration: none !important;
}

a:hover{
    color: rgb(255, 94, 0) !important;
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
}

#logo{
    width: 30% !important;
}

@media screen and (min-width: 460px){
    img#logo{
        width: 100%;
        height: 100%;
    }
}